<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Animal</title>
</head>
<body>
    <a href="/">Home</a>
    <form action="/animals" method="post">
        <label for="name">Name:<input type="text" name="name" id="name"></label>
        <br>
        <label for="type">Type:<input type="text" name="type" id="type"></label>
        <br>
        <label for="food">Favorite Food:<input type="text" name="food" id="food"></label>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>